<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<div id="boat_button"> <a href="/boats/new"><button>New Boat!</button></a></div>
<div id="port_button"> <a href="/ports/new"><button>New Port!</button></a></div>

<h1> NEW JOB </h1>

<%= render 'form', job: @job %>

<% @jobs.each do |job| %>
  <% origin_name = Port.where(id: job[:origin].to_i).select("name").first %>
  <% destination_name = Port.where(id: job[:destination].to_i).select("name").first %>

  <p>Job Description: <%= job.description %> </p>
  <p>Job Cost: <%= job.cost %></p>
  <p>Origin Location: <%= origin_name[:name] %></p>
  <p>Destination Location: <%= destination_name[:name] %></p>
  <p>Containers Needed: <%= job.ccontainers %></p>
<% end %>


  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
